* {
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

header, footer {
    background-color: #8F2BE0;
    color: #fff;
    padding-top: 16px;
}

header h1 {
    margin-right: 16px;
}

.container {
    max-width: 1024px;
    width: 100%;
}

